<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href={{ url_for('static', filename='style.css') }}>
    <title>Seja bem-vindo(a)</title>
</head>
<body>
    <table>
        <tr>
            <th>Nome</th>
            <th>Data de admissão</th>
            <th>Excluir registro</th>
        </tr>

        {% for each in data_formatted %}
        <tr id="{{each[0]}}">
            <td>{{each[1]}}</td>
            <td>{{each[2]}}</td>
            <td><a href="delete/{{each[0]}}" class="botao-apagar">Apagar</a></td>
        </tr>
        {% endfor %}
    </table>
</body>

</html>